.logo {
    position: fixed;
    top: 10px; 
    left: 10px; 
    z-index: 999; 
}

.logo img {
    width: 100px; 
    height: auto; 
}

body {
    color: rgb(0, 0, 0);     
    background-color: #a2ade8; 
    font-size: 25px;
    font-family: Open_Sans, sans-serif;
    text-align: center;
}

.image {
    width: 230px; 
    height: auto; 
    border-radius: 50%;
    display: inline-block;
}

 ul {
    list-style-type: none; 
}

li {
    margin-bottom: 10px; 
}

.image_bordered {
    border: 10px solid;
    color: #000000
}

.text-container {
    padding: 10px; 
    width: 800px; 
    background-color:#8795de;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

a {
    color: #000000;
    text-decoration: none; 
    transition: color 0.3s; 
}

a:hover {
    color: #000000;
    font-weight: bold; 
}

@media (max-width: 960px) {
  .text-container {
    width: 650px;
  }
}

@media (max-width: 720px) {
  .text-container {
    width: 450px;
  }
}
